* {
    padding: 0;
    margin: 0;
    
}

#text{
    height: 40%;
    width: 40%;
    font-size:x-large;
    padding-top: 5%;
    padding-left: 5%;
    text-decoration: none;

}

#servicos{
    width: 100%;
    height: 100%;
    display: flex;
    Align-items:center;
    padding-top: 5%;
    flex-direction: column;
    
}


.BlueBox{
    margin: 5%;
    width: 80%;
    height: 350px;
    background-color: #bee9e4;
    border-radius: 0% 200px 200px 0%;
    display: flex;
    flex-direction: column;
    

}

.BlueBox *{
    margin-left: 15%;
    margin-top: 2%;
}

.BlueBox p{
    font-size:xx-large;
    color: #686f6f;
}

.BlueBox button{
    background-color: #055b50;
    color: white;
    height: 50px;
    width: 20%;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
    font-size: x-large;
}

#sobreNos{
    margin: 5%;
    width: 60%;
    height: 350px;
    background-color: #edf6ff;
    border-radius: 200px 200px 200px 200px;
    display: flex;
    
}

#boxWhite{
    border-radius: 200px 0px 0px 200px;
    background-color: white;
    height: 70%;
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;
}

#sobreNos p{
    margin-left: 5%;
    margin-top: 5%;
    font-size:x-large;
}
#flash{
     width: 30%;
     height: 100px;
     background-color:cornflowerblue;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 35%;
     border-radius: 5px;
     color: white;

}

#opcoes{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;   
    
 
}

.op{
    width:20%;
    height: 300px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.op h1{
    color: #055b50;
    align-self: center;

}

.cinza{
    background-color: #c3c3c3;
    width: 100%;
    height: 90%;
    border-radius:  10px 10px 0px 0px;
    font-size: 150px;
    display: flex;
    justify-content: center; 
}