* {
    padding: 0;
    margin: 0;
    
}
#navBar{
    background-color: #bee9e4;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    padding-top: 1%;
    padding-left: 2%;
    color: #055b50;
    text-decoration: none;
    font-size: 350%;
}

#PagsNavBar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
   
}
#PagsNavBar li{
    
    padding-left: 5%;
    padding-right: 5%;
}


#PagsNavBar a{
    text-decoration: none;
    
    color: #055b50;
}

#PagsNavBar button{
    background-color: #055b50;
    color: white;
    height: 50px;
    width: 80px;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
}