


.grayBox{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 15px 15px 5px #a6c4c1;

}


.OpButton{
    
    
    background-color: #055b50;
    color: #ffffff; 
        
}










